form {
    display: flex;
    flex-direction: column;
}

div {
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    margin: 20px;
    padding: 20px;
}

mat-card-title {
    display: flex;
    justify-content: center;
}
